{{ define "main" }}
<h1>アルフィード株式会社</h1>
<h2 style="color: #2e6c80;">アルフィード株式会社は、システム開発、自社アプリ開発、常駐開発、リモート開発を行っています。&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h2>
<h2 style="color: #2e6c80;">会社概要</h2>
<table class="editorDemoTable" style="width: 463px;">
<thead>
<tr>
<td style="width: 192px;">所在地</td>
<td style="width: 255px;">大阪市淀川区十八条3&minus;5&minus;３&minus;マザーハウス２０２号</td>
</tr>
</thead>
<tbody>
<tr>
<td style="width: 192px;">代表者</td>
<td style="width: 255px;">木田昌宏</td>
</tr>
<tr>
<td style="width: 192px;">連絡先</td>
<td style="width: 255px;">ab2ret4d8@gmail.com</td>
</tr>
<tr>
<td style="width: 192px;">設立</td>
<td style="width: 255px;"><span id="demoId">２００９年４月１０日</span></td>
</tr>
</tbody>
</table>
<p><strong>&nbsp;</strong></p>
<p>&nbsp;</p>
<p><strong>&nbsp;</strong></p>
<div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=%E5%A4%A7%E9%98%AA%E5%BA%9C%E5%A4%A7%E9%98%AA%E5%B8%82%E6%B7%80%E5%B7%9D%E5%8C%BA%E5%8D%81%E5%85%AB%E6%9D%A1%EF%BC%93%E4%B8%81%E7%9B%AE%EF%BC%95%E2%88%92%EF%BC%93&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org">123movies</a><br><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style><a href="https://www.embedgooglemap.net">insert google map into website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
{{end}}
