{{ define "main" }}
<h1>アルフィード株式会社</h1>
<h2 style="color: #2e6c80;">アルフィード株式会社は、システム開発、自社アプリ開発、常駐開発、リモート開発を行っています。&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h2>
<h2 style="color: #2e6c80;">会社概要</h2>
<table class="editorDemoTable" style="width: 463px;">
<thead>
<tr>
<td style="width: 192px;">所在地</td>
<td style="width: 255px;">大阪市淀川区十八条3&minus;5&minus;３&minus;２０２</td>
</tr>
</thead>
<tbody>
<tr>
<td style="width: 192px;">代表者</td>
<td style="width: 255px;">木田昌宏</td>
</tr>
<tr>
<td style="width: 192px;">連絡先</td>
<td style="width: 255px;">ab2ret4d8@gmail.com</td>
</tr>
<tr>
<td style="width: 192px;">設立</td>
<td style="width: 255px;"><span id="demoId">２００９年４月１０日</span></td>
</tr>
</tbody>
</table>
<p><strong>&nbsp;</strong></p>
<p>&nbsp;</p>
<p><strong>&nbsp;</strong></p>
{{end}}
